<div class="content container col-md-6">
  <h1 class="h3 mb-3 font-weight-normal text-center">Add Record</h1>
  <div class="form-group">
    <input type="text" name="title" class="form-control" placeholder="Name" minlength="1"/>
  </div>
  <div class="form-group">
    <input type="text" minlength="5" name="description" class="form-control" placeholder="Date"/>
  </div>
  <div class="form-group">
    <input minlength="1" type="text" name="number" class="form-control" placeholder="Files"/>
  </div>
  <div class="form-group">
    <input minlength="1" type="text" name="tags" class="form-control" placeholder="Phone"/>
  </div>
  <div class="form-group ">
    <div class="form-group">
        <textarea class="form-control" id="area" rows="12" name="text" placeholder="Text">
        </textarea>
    </div>
  </div>
  <p class="text-right">
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</div>


